[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Run Python Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 47660616
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "Run Python Bot"
author = 47660616
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "Run Deno Bot"
author = 47660616
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "deno run --allow-net --allow-env --allow-read --allow-write main.ts"
